.nav-container {
    background-color: rgb(44, 55, 85);
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 20px;
}

.nav-icon {
    margin: 0;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgb(173, 173, 173);
}