:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  --clr-bg: rgb(22, 26, 40);
  --clr-bg-dark: rgb(27, 31, 42);
  --clr-white: rgb(185, 185, 185);

  --spacer-100: .5rem;
  --spacer-200: .75rem;
  --spacer-300: 1rem;
  --spacer-400: 1.25rem;
  --spacer-500: 1.5rem;
  --spacer-600: 2rem;
  --spacer-700: 3rem;
  --spacer-800: 4rem;
  --spacer-900: 5rem;
  --spacer-1000: 7rem; 

  --font-size-100: .75rem;
  --font-size-200: 1rem;
  --font-size-300: 1.25rem;
  --font-size-400: 1.5rem;
  --font-size-500: 2rem;
  --font-size-600: 3rem;
  --font-size-700: 4rem;
  --font-size-800: 7rem;
  --font-size-900: 10rem;

  background-color: var(--clr-bg);
  color: var(--clr-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
}